{% block content %}
<h1>Documents Shared by {{ patient.name }}</h1>

<div>
  {% for shared_doc in shared_docs %}
  <div>
    <h3>{{ shared_doc.document.file.name }}</h3>
    <p>Type: {{ shared_doc.document.get_type_display }}</p>
    <p>Uploaded by a Doctor: {{ shared_doc.verified|yesno:"YES,NO" }}</p>
    <a href="{{ shared_doc.document.file.url }}" target="_blank">View Document</a>
  </div>
  {% empty %}
  <p>No documents shared by this patient.</p>
  {% endfor %}
</div>

<h2>Upload Document</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload Document</button>
</form>
{% endblock %}